export OPENAI_API_KEY="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"


export LANGCHAIN_TRACING_V2=true
export LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
export LANGCHAIN_API_KEY="ls__4ce954658dfe4276a4dee78d15f2903a"
export LANGCHAIN_PROJECT="MrFreeze"